:root {
    --alt: #588B8B;
    --dark: #C8553D;
    --normal: #F28F3B;
    --light: #ffd5c2;
    --lightest: #ffebe1;
    --plain: #ffffff;
}

body.darkmode {
    --dark: #333;
    --normal: #444;
    --light: #555;
    --lightest: #666;
    --plain: #222;
    --alt: #333;
}

*, body {
    font-family: 'Times New Roman', Times, Arial, serif;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--plain);
}

.btn:active {
    transform: scale(0.97);
}

.container {
    display: flex;
    height: 100%;
}

#creation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: var(--plain);
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

body.darkmode aside {
    color: #eee;
}

main {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.remove-content {
    display: none;
}

body.darkmode {
    background-color: #555;
    color: #eee;
}

body.darkmode .btn {
    background-color: var(--light);
    color: #eee;
}

body.darkmode label {
    color: #eee;
}

body.darkmode input,
body.darkmode textarea {
    background-color: #ddd;
}
